::ng-deep .p-datatable{
    .p-datatable-tbody {
        tr {
            td{
                text-align: center;
                cursor: pointer;
                
            }
            &:hover{
                background-color: #f8f9fa;
            }
        }
    } 
    .p-datatable-thead{
        tr{
            th{
                text-align: center;
                padding-left: 30px;

                &:hover{
                    background-color: #f8f9fa !important;
                }
                &:focus{
                    box-shadow: none !important;
                    color: #495057 !important;
                }
            }
        }
    }
}