<div>
    <form [formGroup]="form">
        <mat-form-field >
            <mat-label>Name</mat-label>
            <input matInput formControlName="Name">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Description</mat-label>
            <input matInput formControlName="Description">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Deadline</mat-label>
            <input matInput formControlName="Deadline">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Target type</mat-label>
                <mat-select formControlName="Type">
                    <mat-option value="1">
                        firstOption
                    </mat-option>
                    <mat-option value="2">
                        SecondOption
                    </mat-option>
                </mat-select>
      </mat-form-field>
      <div>      
        <button type="reset" class="prime-button m-r-10" (click)="closeDialog()">Cancel</button>
        <button type="submit" class="submit-button fl-r" (click)="submit()">Submit</button>
    </div>
    </form>
</div>
